.description {
  margin-top: 10%;
  width: 40%;
  color: rgb(156, 156, 156);
  font-size: 3rem;
  text-align: center;
}

.button {
  width: 15rem;
  height: 5rem;
  border-radius: 3rem;
  border: none;
  color: rgb(156, 156, 156);
  background-color: teal;
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  cursor: pointer;
}

.button::after {
  background-color: rgb(9, 161, 161);
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0);
  transform-origin: right;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.button:hover::after {
  transform: translate(0, 0);
}

.button:hover {
  color: rgb(187, 185, 185);
  transform: scale(1.05);
  will-change: transform;
}
