button {
  width: 200px;
  height: 200px;
  margin: 2rem;
  flex: 1 0 40%;
  border-radius: 2rem;
  border: none;
}

button:hover {
  transform: scale(1.01);
}

button:disabled .image {
  opacity: 0.2;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
